@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  background-color: white;
  color: #333; }

a {
  color: #7f8688;
  text-decoration: none; }

a:hover {
  color: #666; }

ul {
  list-style: none; }

i {
  margin-right: 10px; }

/* Utilities */
.round-img {
  border-radius: 50%; }

/* List */
.list {
  margin: 0.5rem 0; }

.list li {
  padding-bottom: 0.3rem; }

/* Center All */
.all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center; }

.bg-primary {
  background: #7f8688;
  color: white; }

.bg-secondary {
  background: #dbc9bf;
  color: #18181e; }

.bg-third {
  background: #af957e;
  color: #7f8688; }

.bg-light {
  background: #e7e5e5;
  color: #18181e; }

.bg-dark {
  background: #18181e;
  color: #dbc9bf; }

.bg-danger {
  background: #8f313a;
  color: #fff; }

.bg-success {
  background: #459458;
  color: #fff; }

.bg-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px; }

.bg-light {
  border: #ccc solid 1px; }

/* Mobile Styles */
@media screen and (max-width: 750px) {
  .hide-sm {
    display: none; }
  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr; }
  /* Text Styles */
  .x-large {
    font-size: 3rem; }
  .large {
    font-size: 2rem; }
  .lead {
    font-size: 1rem; }
  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
    margin-bottom: 3rem; }
  .navbar ul {
    text-align: center;
    justify-content: center; }
  .footer ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 0px 15px 0px 15px;
    margin-bottom: -10px;
    margin-top: -10px; }
  /* TRANSITIONS - REACT TRANSITION GROUP */
  .item-enter {
    opacity: 0; }
  .item-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in; }
  .item-exit {
    opacity: 1; }
  .item-exit-active {
    opacity: 0;
    transition: opacity 1000ms ease-in; }
  .app-logo {
    height: 50px;
    align-items: center;
    padding-top: -10px;
    padding-bottom: 0px;
    margin-top: -10px;
    margin-bottom: -15px; } }

@media screen and (min-width: 700px) and (max-width: 870px) {
  #footer-li {
    align-items: center;
    text-align: center;
    justify-content: center; }
  /* #footer-text {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  } */ }

@media screen and (min-width: 750px) {
  .form-container {
    display: flex; }
  .contact-container {
    display: flex;
    flex-direction: row; }
  .boxes {
    width: 50%; } }

.container {
  /* max-width: 1200px; */
  /* margin: auto; */
  width: 100%;
  margin-top: 8rem;
  margin-bottom: 200px;
  /* overflow: initial; */
  /* padding: 0 2rem; */ }

.page-container {
  padding-bottom: 0px;
  text-align: center;
  width: 100%; }

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: #e7e5e5;
  color: #333; }

.alert-primary {
  background: #7f8688;
  color: white; }

.alert-secondary {
  background: #dbc9bf;
  color: #18181e; }

.alert-third {
  background: #af957e;
  color: #7f8688; }

.alert-light {
  background: #e7e5e5;
  color: #18181e; }

.alert-dark {
  background: #18181e;
  color: #dbc9bf; }

.alert-danger {
  background: #8f313a;
  color: #fff; }

.alert-success {
  background: #459458;
  color: #fff; }

.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px; }

.badge {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: #e7e5e5;
  color: #333;
  border-radius: 5px; }

.badge-primary {
  background: #7f8688;
  color: white; }

.badge-secondary {
  background: #dbc9bf;
  color: #18181e; }

.badge-third {
  background: #af957e;
  color: #7f8688; }

.badge-light {
  background: #e7e5e5;
  color: #18181e; }

.badge-light-2 {
  color: #7f8688; }

.badge-dark {
  background: #18181e;
  color: #dbc9bf; }

.badge-danger {
  background: #8f313a;
  color: #fff; }

.badge-success {
  background: #459458;
  color: #fff; }

.badge-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px; }

.badge-light {
  border: #ccc solid 1px; }

.btn {
  display: inline-block;
  background: #e7e5e5;
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none; }

.btn-link {
  background: none;
  padding: 0;
  margin: 0; }

.btn-block {
  display: block;
  width: 100%; }

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem; }

.btn:hover {
  opacity: 0.8;
  color: #18181e;
  background-color: #af957e;
  box-shadow: -3px 3px 4px #8d8d8d; }

.button {
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  padding: 0.4rem 1.3rem;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none; }

.with-borders-button:hover {
  color: #18181e;
  /* border-color: $primary-color; */
  background-color: #dbc9bf; }

.with-borders-button {
  color: #e7e5e5;
  border-style: solid;
  border-radius: 5px;
  border-color: #7f8688;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  text-decoration: none; }

.btn-primary {
  background: #7f8688;
  color: white; }

.btn-secondary {
  background: #dbc9bf;
  color: #18181e; }

.btn-third {
  background: #af957e;
  color: #7f8688; }

.btn-light {
  background: #e7e5e5;
  color: #18181e; }

.btn-dark {
  background: #18181e;
  color: #dbc9bf; }

.btn-danger {
  background: #8f313a;
  color: #fff; }

.btn-success,
s {
  background: #459458;
  color: #fff; }

.btn-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px; }

/* Cards */
.card {
  padding: 1rem;
  border: #dbc9bf 1px dotted;
  margin: 0.7rem 0;
  box-shadow: -2px 2px 4px #c7c7c7; }

/* Forms */
input {
  margin: 1.2rem 0; }

.container {
  padding: 0 2rem; }

.form-container {
  padding: 0 2rem; }

.notes-container {
  padding: 0 2rem; }

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc; }

input[type="submit"],
button {
  font: inherit; }

/* Footer */
.footer {
  background-color: #af957e;
  color: #e7e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  bottom: 0;
  position: fixed;
  flex-shrink: 0;
  z-index: 1;
  width: 100%;
  opacity: 0.96;
  margin-top: 5rem; }

.footer ul {
  display: flex;
  padding: 0px 15px 0px 15px;
  margin-bottom: -10px;
  margin-top: -10px; }

.footer a {
  color: #e7e5e5;
  padding: 0.45rem;
  margin: 0 0.25rem; }

.footer li:hover {
  padding-left: 6px;
  padding-right: -4px;
  box-shadow: -2px -2px 14px #c7c7c7; }

.footer .welcome span {
  margin-right: 0.6rem; }

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  opacity: 1;
  margin-bottom: 1rem; }

.app-logo {
  height: 70px;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: -13px; }

.navbar ul {
  display: flex; }

.navbar a {
  color: #dbc9bf;
  padding: 0.45rem;
  margin: 0 0.25rem; }

.navbar a:hover {
  color: #e7e5e5; }

.navbar h1 {
  /* color: $third-color; */
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: center; }

.navbar .welcome span {
  margin-right: 0.6rem; }

.hero {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  text-align: center;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #e7e5e5;
  color: #18181e; }

.welcome-hero {
  height: 500px;
  color: #e7e5e5;
  background-color: #18181e;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background: url("/images/agenda-phone-crop.jpg") no-repeat center top;
  background-size: cover; }

.hero-welcome-img {
  max-width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: 50% -180px;
  width: 100vw;
  height: 400px;
  /* padding-bottom: 0px; */
  background-repeat: no-repeat; }

.welcome-hero .low-hero {
  /* margin-top: -150px; */
  padding-bottom: 20px; }

/* EXTRA SECTION */
.extra-section {
  /* margin-top: -200px;
  padding-top: 30px; */
  background-color: #e7e5e5;
  color: #18181e;
  padding-left: 5%;
  padding-right: 5%; }

.extra-section h2 {
  color: #18181e;
  font-size: 26px; }
