/* Global Styles */
$primary-color: #7f8688;
$secondary-color: #dbc9bf;
$third-color: #af957e;
$complimentary-color: #9bb2de;
$dark-color: #18181e;
$light-color: #e7e5e5;
$danger-color: #8f313a;
$success-color: #459458;
