@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";
@import "base/mobile-styles";

@import "layout/layout";

@import "components/alert";
@import "components/badge";
@import "components/btn";
@import "components/card";
@import "components/components";
@import "components/form";
@import "components/footer";
@import "components/navbar";

@import "pages/welcome";

/* EXTRA SECTION */
.extra-section {
  /* margin-top: -200px;
  padding-top: 30px; */
  background-color: $light-color;
  color: $dark-color;
  padding-left: 5%;
  padding-right: 5%;
}

.extra-section h2 {
  color: $dark-color;
  font-size: 26px;
}
