@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

@import "abstracts/variables";
@import "abstracts/functions";
@import "abstracts/mixins";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";
@import "base/mobile-styles";

@import "layout/layout";

@import "components/alert";
@import "components/badge";
@import "components/btn";
@import "components/card";
@import "components/components";
@import "components/form";
@import "components/footer";
@import "components/navbar";

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: $primary-color;
  color: white;
}

.btn-secondary,
.bg-secondary,
.badge-secondary,
.alert-secondary {
  background: $secondary-color;
  color: $dark-color;
}

.btn-third,
.bg-third,
.badge-third,
.alert-third {
  background: $third-color;
  color: $primary-color;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: $light-color;
  color: $dark-color;
}

.badge-light-2 {
  color: $primary-color;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: $dark-color;
  color: $secondary-color;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: $danger-color;
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: $success-color;
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

/* table th,
table td {
  padding: 1rem;
  text-align: left;
} */

table th {
  background: $light-color;
}

.hero {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  text-align: center;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  background-color: $light-color;
  color: $dark-color;
}

.welcome-hero {
  height: 500px;
  color: $light-color;
  background-color: $dark-color;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background: url("/images/agenda-phone-crop.jpg") no-repeat center top;
  background-size: cover;
}

.hero-welcome-img {
  max-width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: 50% -180px;
  width: 100vw;
  height: 400px;
  /* padding-bottom: 0px; */
  background-repeat: no-repeat;
}

.welcome-hero .low-hero {
  /* margin-top: -150px; */
  padding-bottom: 20px;
}

.button {
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  padding: 0.4rem 1.3rem;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.with-borders-button:hover {
  color: $dark-color;
  /* border-color: $primary-color; */
  background-color: $secondary-color;
}

.with-borders-button {
  color: $light-color;
  border-style: solid;
  border-radius: 5px;
  border-color: $primary-color;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

/* EXTRA SECTION */
.extra-section {
  /* margin-top: -200px;
  padding-top: 30px; */
  background-color: $light-color;
  color: $dark-color;
  padding-left: 5%;
  padding-right: 5%;
}

.extra-section h2 {
  color: $dark-color;
  font-size: 26px;
}
